/* Other */
html {
  font-size: 16px;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.dots span {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #f88500;
}

/* Header */
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  z-index: 4;
  /* Logo */ /* Navigation Components */ /* Social */
}
.header .container {
  position: relative;
}
.header .container::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1450980392);
  z-index: 107;
}
.header .logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 122px;
  cursor: pointer;
  z-index: 111;
}
.header .logo__square {
  position: relative;
  min-width: 15px;
  min-height: 15px;
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
  letter-spacing: 0.1em;
  border: 2px solid #f88500;
  border-radius: 0 5px 0 5px;
}
.header .logo__inner {
  line-height: 1.2;
}
.header .logo__title {
  color: inherit;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.8;
}
.header .logo__subtitle {
  color: inherit;
  opacity: 0.45;
}
.header .logo--dark {
  color: #fff;
}
.header .logo--light {
  color: #000;
}
.header .nav {
  width: 100%;
  z-index: 112;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px;
  border-radius: 0px 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}
.header .nav__item:hover {
  background: rgba(196, 196, 196, 0.1450980392);
}
.header .nav__link {
  color: inherit;
}
.header .nav--light {
  color: #000;
}
.header .nav--dark {
  color: #fff;
}
.header .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 113;
}
.header .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  gap: 12px;
  width: 135px;
  height: 35px;
  padding: 5px 5px;
  background: rgba(196, 196, 196, 0.1450980392);
  border-radius: 70px;
  z-index: 114;
}
.header .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.7490196078);
}
.header .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: inherit;
}
.header .social__link:hover {
  color: #f88500;
}
.header .social--dark {
  color: #fff;
}
.header .social--light {
  color: #000;
}
.header .hamburger {
  width: 100%;
  color: rgba(255, 255, 255, 0.7490196078);
  font-size: 20px;
}

/* Hero Section */
.hero {
  height: 100vh;
  padding: 10px;
  min-height: 630px;
  background: #202328;
}
.hero__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  border-radius: 10px;
}
.hero__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(218, 11%, 14%, 0.1);
  z-index: 3;
}
.hero__wrapper:nth-child(1) {
  background: transparent url("../assets/images/image/hero__slider/slide-1.png") no-repeat bottom/cover;
  z-index: 2;
}

/* Hero Slider */
/* swiper */
.hero__swiper {
  position: relative;
  z-index: 4;
  /* Hero Content */
}
.hero__swiper .hero__content {
  font-family: "Raleway";
  color: #fff;
  height: calc(100vh - 120px - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__swiper .hero__content .hero__title {
  font-size: 58px;
  font-weight: 300;
  margin-bottom: 15px;
}
@media (min-width: 320px) and (max-width: 576px) {
  .hero__swiper .hero__content .hero__title {
    font-size: 40px;
  }
}
.hero__swiper .hero__content .hero__text {
  display: inline-block;
  padding: 7px 16px;
  margin-bottom: 25px;
  background: #f88500;
  border-radius: 0px 5px;
}
.hero__swiper .hero__content .hero__paragraph {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  max-width: 420px;
  padding: 15px 22px;
  border-radius: 0px 10px;
  background: rgba(32, 35, 40, 0.9);
}

/* Control */
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 430px;
  max-height: 90px;
  border-radius: 10px 0 0 0;
  background: #202328;
  padding: 37px 37px 28px 37px;
  z-index: 4;
}
@media (min-width: 320px) and (max-width: 768px) {
  .control {
    width: 100%;
  }
}
.control__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58px;
  height: 28px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}
.control__numbers .counter {
  font-size: 15px;
  font-weight: 300;
  color: #818b9d;
}
.control__numbers .devide {
  border-right: 2px solid #353941;
  height: 100%;
}
.control__numbers .total {
  color: #59606c;
  font-size: 12px;
  font-weight: 300;
}
.control__switchers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5px;
  width: 180px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
}
@media (min-width: 0px) and (max-width: 575px) {
  .control__switchers {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .control__switchers {
    width: 70%;
  }
}
.control__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  color: #fff;
  font-size: 20px;
}
.control__arrows button {
  color: #59606c;
}
.control__arrows button:hover {
  color: #818b9d;
  opacity: 0.4;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

/* Hero Section End */
/* Trust Section */
.trust {
  background: #171a1a;
  padding: 43px 0;
  color: #6f7a8b;
}
.trust .information__title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 900;
  font-size: 18px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.trust .information__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  width: 221px;
  height: 1px;
  border-bottom: 2px solid #2d3038;
}
@media (min-width: 320px) and (max-width: 575px) {
  .trust .information__title::after {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .trust .information__title {
    text-align: center;
  }
}
.trust .information__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .trust .information__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .trust .information__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1198px) {
  .trust .information__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
.trust .information__item strong {
  width: 40px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .trust .information__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.trust .callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 320px) and (max-width: 575px) {
  .trust .callback {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .trust .callback {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.trust .callback__text {
  text-align: right;
}
@media (min-width: 320px) and (max-width: 575px) {
  .trust .callback__text {
    text-align: center;
  }
}
.trust .callback__link {
  text-align: right;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  line-height: 2.65;
}
.trust .callback__button {
  background: #f88500;
  padding: 12px 30px;
  border-radius: 0px 5px;
  font-weight: 800;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.works {
  position: relative;
  padding: 63px 0;
  background: #fafafa;
  color: #fff;
  z-index: 1;
}
.works::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: #202328;
  z-index: -10;
}
@media (min-width: 320px) and (max-width: 575px) {
  .works {
    padding: 2rem 0;
  }
  .works::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    background: #202328;
    z-index: -10;
  }
}
.works__paragraph {
  max-width: 490px;
  color: inherit;
  margin: 0;
  line-height: 170%;
  z-index: 4;
}
@media (min-width: 320px) and (max-width: 575px) {
  .works__paragraph {
    color: #fafafa;
  }
}
.works__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 29;
  font-weight: 800;
}
.works__title span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #f88500;
  margin-bottom: 7px;
}
.works__item {
  max-width: 360px;
  min-height: 340px;
  background: #fff;
  border-bottom: 3px solid #e4e6e8;
  -webkit-box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.1);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 700;
  z-index: 10;
  cursor: pointer;
}
.works__item:hover {
  -webkit-box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  border-bottom: 3px solid #f88500;
}
.works__img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
}
.works__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}
.works__marker {
  margin-right: 10px;
}
.works__marker span {
  width: 20px;
  height: 20px;
}
.works__place {
  max-height: 25px;
  display: inline;
  overflow: hidden;
  color: #989da5;
  font-weight: 800;
}
.works__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works .dots {
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 1rem;
  gap: 10px;
}
.works__subtitle {
  line-height: 125%;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}
.works__btn-more {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}
.works__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #f88500;
  padding: 12px 30px;
  text-transform: uppercase;
  color: inherit;
  border-radius: 0px 5px;
  font-weight: 800;
}

/* About Section */
.about {
  padding: 5rem 0;
  background: #fff;
  /* left */
  /* right */
}
@media (min-width: 320px) and (max-width: 575px) {
  .about {
    padding: 3rem 0;
  }
}
.about__slide {
  position: relative;
}
.about__slide:before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  background: #e9e9ea;
  height: 280px;
  width: 235px;
  border-radius: 0 5px 0 5px;
  z-index: 2;
}
.about__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.about__info {
  position: absolute;
  bottom: 15%;
  right: -6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 240px;
  min-width: 230px;
  max-height: 90px;
  background: rgba(32, 35, 40, 0.8);
  color: #fff;
  border-radius: 0px 5px;
  padding: 18px 0 18px 25px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  z-index: 11;
}
@media (min-width: 320px) and (max-width: 575px) {
  .about__info {
    bottom: 10%;
    right: -3%;
  }
}
.about__info span {
  line-height: 0;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 52px;
}
.about__top {
  margin-bottom: 2.25rem;
}
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 800;
}
.about__title span {
  color: #f88500;
}
@media (min-width: 320px) and (max-width: 575px) {
  .about__title span {
    margin-bottom: 0.5rem;
  }
}
.about .dots {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.75rem 0;
}
.about__list .item {
  line-height: 170%;
}
.about__list .item:nth-child(1) {
  margin-bottom: 3rem;
}
.about__list .item__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  min-height: 50px;
  font-weight: 800;
  margin-bottom: 2rem;
}
.about__list .item__title img {
  margin-right: 12px;
}
.about__list .item__title:before {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  height: 2px;
  width: 100%;
  margin-bottom: 1rem;
  background: #efefef;
}
.about__list .item__paragraph {
  margin-bottom: 1rem;
}
.about__list .item__link {
  font-size: 1rem;
  font-weight: 800;
  text-decoration-line: underline;
}

.partners {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  min-height: 380px;
  padding: 4rem 0;
  background: url("/assets/images/image/partners/bg-image.png") no-repeat top/cover;
}
.partners::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #202328;
  opacity: 0.85;
}
.partners__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.partners__title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
}
.partners__img {
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
}
.partners__description {
  color: #fff;
  line-height: 170%;
  text-align: center;
}
.partners__description span {
  font-weight: 600;
  color: #f88500;
}

/* Blog Section*/
.blog {
  position: relative;
  background: #fff;
  padding: 70px 0;
}
.blog__title {
  text-align: center;
  color: #333333;
  margin-bottom: 45px;
  font-size: 28px;
  font-weight: 800;
}
.blog .item {
  position: relative;
  width: 100%;
  min-height: 439px;
  padding: 15px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0px 5px;
  cursor: pointer;
}
.blog .item__container {
  position: relative;
  width: 100%;
  min-height: 409px;
}
.blog .item__container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog .item__container a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  color: #202328;
  text-decoration: underline;
  z-index: 100;
}
.blog .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  pointer-events: none;
}
.blog .item__image {
  position: relative;
  margin-bottom: 20px;
  height: 100%;
}
.blog .item__image img {
  width: 100%;
  height: 100%;
  min-height: 160px;
}
.blog .item__date {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 5px 10px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0px 5px;
  background: #f88500;
}
.blog .item__content {
  padding: 0.5rem;
}
.blog .item__title {
  position: relative;
  color: #333333;
  font-size: 18px;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.blog .item__title:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 3px;
  background: #f88500;
}
@media (min-width: 320px) and (max-width: 575px) {
  .blog .item__title {
    font-size: 1rem;
  }
}
.blog .item__paragraph {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 400;
}
.blog .item__link {
  position: relative;
  bottom: 0;
  left: 0;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer */
.footer {
  padding: 4.5rem 0 2rem 0;
  background: #171a1a;
  /* Logo */
}
.footer .logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 122px;
  cursor: pointer;
  z-index: 111;
}
.footer .logo__square {
  position: relative;
  min-width: 15px;
  min-height: 15px;
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
  letter-spacing: 0.1em;
  border: 2px solid #f88500;
  border-radius: 0 5px 0 5px;
}
.footer .logo__inner {
  line-height: 1.2;
}
.footer .logo__title {
  color: inherit;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.8;
}
.footer .logo__subtitle {
  color: inherit;
  opacity: 0.45;
}
.footer .logo--dark {
  color: #fff;
}
.footer .logo--light {
  color: #000;
}
.footer .logo__square {
  border-color: #818b9d;
}
.footer .logo__title {
  color: #818b9d;
}
.footer .logo__subtitle {
  color: hsla(0, 0%, 100%, 0.45);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__logo {
  color: #515454;
  color: rgba(139, 141, 141, 0.5);
  margin-bottom: 20px;
}
.footer__square {
  border-color: rgba(139, 141, 141, 0.5);
}
span .footer__spans:nth-child(0) {
  color: rgb(255, 255, 255);
}
.footer__spans:nth-child(1) {
  color: rgba(255, 255, 255, 0.45);
}
.footer__title {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.6;
  margin: 20px 0;
}
.footer__subtitle {
  position: relative;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
}
.footer__subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 3px;
  border-bottom: 3px solid #f88500;
}
.footer__paragraph {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
}
.footer-nav-list {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-nav__item {
  padding: 5px 0;
}
.footer-nav__item a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-nav__item a:hover {
  color: #f88500;
  text-decoration: underline;
}
.footer-works__item {
  padding: 5px 0;
}
.footer-works__item a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-works__item a:hover {
  color: #f88500;
  text-decoration: underline;
}
.footer .social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.75rem;
}
.footer .social__item {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 0px 5px;
  color: #6f7a8b;
  cursor: pointer;
}
.footer .social__item:hover {
  border: 2px solid #f88500;
  background: #f88500;
  color: white;
}
.footer .social__item:hover a {
  color: white;
}
.footer .social__item a i {
  font-size: 1.5rem;
  color: inherit;
}
.footer-social__paragraph {
  margin-bottom: 35px;
  line-height: 1.7;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-social__link {
  width: 100%;
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
}
.footer-social__item {
  width: 40px;
  height: 40px;
  border: 2px solid #202328;
}
.footer-social__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.footer-social__item a:hover {
  color: #fff;
  background: #f88500;
  border-color: #f88500;
}
.footer .copyright {
  color: #6f7a8b;
}
.footer .rights li {
  padding: 1px 0;
  border-bottom: 1px solid #6f7a8b;
}
.footer .rights li a {
  color: #6f7a8b;
}