/* swiper */

.hero__swiper {
    position: relative;

    .hero__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    .hero__item {
        position: relative;
        z-index: 1;
        &:nth-of-type(1) {
            background: transparent url('../../assets/images/image/hero__slider/slide-1.png') no-repeat bottom / cover;
        }
        &:nth-child(2) {
            background: transparent url('../../assets/images/image/hero__slider/slide-2.jpg') no-repeat bottom / cover;
        }
        &:nth-child(3) {
            background: transparent url('../../assets/images/image/hero__slider/slide-3.jpg') no-repeat bottom / cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: hsl(218deg 11% 14% / 18%);
            z-index: 3;
        }
    }

    /* Hero Content */
    .hero__content {
        position: relative;
        font-family: 'Raleway';
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 5;

        .hero__title {
            font-size: 58px;
            font-weight: 300;
            margin-bottom: 15px;
            z-index: 11;

            @media (min-width: 320px) and (max-width: 576px) {
                font-size: 40px;
            }
        }
        .hero__text {
            display: inline-block;
            padding: 7px 16px;
            margin-bottom: 25px;
            background: $accent;
            border-radius: $border-radius;
        }
        .hero__paragraph {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 23.8px */
            max-width: 420px;
            padding: 15px 22px;
            border-radius: 0px 10px;
            background: rgba(32, 35, 40, 0.9);
        }
    }
}

/* Control */
//swiper__control
.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 430px;
    max-height: 90px;
    border-radius: 10px 0 0 0;
    background: $dark;
    padding: 37px 37px 28px 37px;
    z-index: 4;

    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
    }

    &__numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 58px;
        height: 28px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 300;

        .counter {
            font-size: 15px;
            font-weight: 300;
            color: #818b9d;
        }

        .devide {
            border-right: 2px solid #353941;
            height: 100%;
        }

        .total {
            color: #59606c;
            font-size: 12px;
            font-weight: 300;
        }
    }

    &__scrollbar {
        position: relative;
        display: flex;
        height: 5px;
        width: 180px;
        border-radius: 5px;
        background: $deep;
        @media (min-width: 0px) and (max-width: 575px) {
            display: none;
        }

        @media (min-width: 576px) and (max-width: 768px) {
            width: 70%;
        }

        .control__scrollbar-drag {
            height: 5px;
            background: #000;
            border-radius: 5px;
        }
    }

    &__arrows {
        display: flex;
        justify-content: space-between;
        width: 50px;
        font-size: 20px;

        button {
            color: #59606c;
            cursor: pointer;
            z-index: 120;
            &:hover {
                color: $control-accent;
                transition: 0.3s ease all;
            }
        }
    }
}
