$accent: #f88500;
$text: #333333;
$text-light: #999999;
$dark: #202328;
$deep: #171a1a;
$dark-header: #6f7a8b;
$light-bg: #fafafa;
$dark-div: #2d3038;
$light-div: #e7e7e8;
$light-disabled: #e4e6e8;
$middle-gray: #6f7a8b;
$control-accent: #818b9d;

/* Other */
$border-radius: 0 5px 0 5px;

/* Font */
$raleway: 'Raleway', Arial, Helvetica, sans-serif;
$roboto: 'Roboto', Arial, Helvetica, sans-serif;
